
target/
!**/src/main/**/target/
!**/src/test/**/target/
.mvn/wrapper/maven-wrapper.jar
mvnw
mvnw.cmd


*.log
logs/
log/

.idea/
*.iml
*.ipr
*.iws
out/


.apt_generated
.classpath
.factorypath
.project
.settings/
.springBeans
.sts4-cache


/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/
build/
!**/src/main/**/build/
!**/src/test/**/build/


.vscode/

.DS_Store
Thumbs.db

/docker-data/
/volumes/
/tmp/
.env


HELP.md